@model ProjetoPortifolio.ViewModel.PortifolioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var msgErro = ViewBag.msgErro.ToString();
  
}

<style>

    .form-signin {
        width: 100%;
        max-width: 478px;
        padding: 15px;
        margin: auto;
    }


    .cmp_form {
        width: 330px;
    }

    .body{
        background-color:gray;
    }


</style>





@if (ViewBag.msgErro != "")
{
    <div class="alert alert-warning alert-dismissible fade show" id="msg-alerta" role="alert">
        <div id="title-alert"> <span class="fas fa-exclamation-circle"></span> &nbsp <b>Atenção</b> </div> <br /> <br />
        <div id="text-alert">@Html.Raw(msgErro)</div>
        <button type="button" id="close-alert" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


@using (Html.BeginForm("loginManager", "LoginLogout", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    <h1 style="font-size: 23px; margin: 0px 0px 36px 40px;" class="h1 mb-6 font-weight-normal"> Fazer login no Manager </h1>

    @Html.ValidationMessageFor(r => r.login.usuario, "", new { @style = "color:red;!important" })
    @Html.TextBoxFor(r => r.login.usuario, new { @class = "cmp_form form-control", placeholder = "Usuario" })

    @Html.ValidationMessageFor(r => r.login.senha, "", new { @style = "color:red;!important" })
    @Html.PasswordFor(r => r.login.senha, new { @class = "cmp_form form-control", placeholder = "Senha" })
    <br />
    <button type="submit" style="width:330px;" class="btn btn-lg btn-primary btn-block"> Entrar </button>
}



<partial name="~/Views/Shared/Login/_JsLogin.cshtml" />