@model ProjetoPortifolio.ViewModel.PortifolioViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title </title>
    <link rel="shortcut icon" href="#" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/dist/css/lightbox.min.css">

</head>
<body>
    @Html.Partial("PartialViewMenu", Model.botoes)
    <br />
    <br />
    <div class="container body-content">

        <h2> @Html.Raw(ViewBag.TituloConteudo) </h2>
        <br />
        <br />

        @RenderBody()
        <a id="gototop" href="#">ir para o topo</a>
        <hr />
        <footer>
            <p id="footer-content">&copy; COPYRIGHT @DateTime.Now.Year  -  Pedro Vinicius Rodrigues Furlan - TODOS OS DIREITOS RESERVADOS    </p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/PortifolioScript.js" asp-append-version="true"></script>
    <script src="~/dist/js/lightbox.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)

</body>
</html>
