@model ProjetoPortifolio.ViewModel.PortifolioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string idPagina = ViewData["idPagina"].ToString();
}

<div id="hdnPagina" style="display:none" value="@idPagina"></div>

<partial name="~/Views/Components/MensagemAlerta.cshtml">
    <div class="col-10"></div>
    <button type="button" onclick="location.href='@Url.Action("chamaManagerPrincipal", "Portifolio")'" class="btn btn-info"><span class="fa fa-arrow-left"></span>&nbsp; Voltar para manager principal </button>
    <div class="col-10"></div>
    <br />
    <br />

    @{
        int contador = 1;
        string IdFormulario = "formularioSubmit" + @contador.ToString();
        <form class="form-group" id="@IdFormulario">
            @foreach (string forms in Model.formularios)
            {
                @Html.Raw(forms);
            }
        </form>
        <br />
        <br />
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {

      if ("@idPagina" != "") {

            $("#nome_pagina_id").removeClass("form-control").addClass("form-control-plaintext");
            $("#nome_pagina_id").attr('disabled', 'disabled');

            $.ajax({
                type: "GET",
                url: "getDadosTela",
                data: {
                    idTela: "@idPagina"
                },
                success: function (response) {
                    $("#nome_pagina_id").val(response[0]);
                    $("#titulo_aba_id").val(response[1]);
                    $("#titulo_pagina_id").val(response[2]);
                    $("#conteudo_pagina_id").val(response[3]);

                    if (response[4] == 1) {
                        $("#foto_pagina_id").val("Sim");
                    } else {
                        $("#foto_pagina_id").val("Não");
                    }

                    if (response[5] == 1) {
                        $("#form_pagina_id").val("Sim");
                    } else {
                        $("#form_pagina_id").val("Não");
                    }

                    if (response[6] == 1) {

                        $("#conteudo_pagina_id").attr('disabled', 'disabled');
                        $("#form_pagina_id").attr('disabled', 'disabled');
                        $("#foto_pagina_id").attr('disabled', 'disabled');
                        $("#foto_pagina_id").val("Não");
                        $("#form_pagina_id").val("Não");
                        $("#conteudo_pagina_id").val("");
                        $("#check_foto_principal").prop('checked', true);
                    }

                     $("#area-check_botao").hide();
                },
                failure: function () {
                    alert("Ocorreu um erro na captura dos dados");
                }
            });
        }


    });



$("#check_foto_principal").click(
    function () {
        if ($("#check_foto_principal")[0].checked == true) {

            $("#conteudo_pagina_id").attr('disabled', 'disabled');
            $("#form_pagina_id").attr('disabled', 'disabled');
            $("#foto_pagina_id").attr('disabled', 'disabled');
            $("#foto_pagina_id").val("Não");
            $("#form_pagina_id").val("Não");
            $("#conteudo_pagina_id").val("");
        } else {

            $("#conteudo_pagina_id").attr('disabled', false);
            $("#form_pagina_id").attr('disabled', false);
            $("#foto_pagina_id").attr('disabled', false);
        }

    },
);





    </script>
